<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android" 
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        id          = "ru.tmb.tosk"
        versionCode = "10"
        version     = "1.4.0">

    <name>lk.tosk.tmb.ru</name>

    <description>
        Личный кабинет АО "ТОСК"
    </description>

    <author>Tadapp</author>

    <preference name='phonegap-version' value='cli-9.0.0' />

    <plugin name='cordova-plugin-splashscreen' />
    <plugin name='cordova-plugin-inappbrowser' />

    <gap:plugin name='onesignal-cordova-plugin' spec='2.4.5' source='npm' />

    <preference name='android-build-tool' value='gradle' />
    <preference name="android-targetSdkVersion" value="29" />
    <preference name='orientation' value='portrait' />

    <preference name='windows-appx-target' value='8.1-phone' />
    <preference name='WindowsToastCapable' value='true' />

    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="SplashScreenSpinnerColor" value="#007BFF" />
    
    <platform name="android">
      <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
          <application android:usesCleartextTraffic="true" />
      </edit-config>
    </platform>


    <platform name="android">
        <icon src="res/android/icon/8cc9dd54ddd24327f341d67142868ab5.png" density="ldpi" />
        <icon src="res/android/icon/d70adb33cd29a8927776a9807325db91.png" density="mdpi" />
        <icon src="res/android/icon/3011d7bce367c339667383b322ec8ce6.png" density="hdpi" />
        <icon src="res/android/icon/a8809015810d818cfb3d892624336492.png" density="xhdpi" />
        <icon src="res/android/icon/9ae63c77ff5d66c924a020e7b8d35d9b.png" density="xxhdpi" />
        <icon src="res/android/icon/594fc93bf8ff2801c61dba1b280e64ad.png" density="xxxhdpi" />

        <splash src="res/android/screen/df04bb1d5db73e9229d53f67cda695e3.png" density="port-hdpi"/>
        <splash src="res/android/screen/4fa2126398fc2744744f8cb504a0994f.png" density="port-ldpi"/>
        <splash src="res/android/screen/b2760ef1972d8b2b8e392f3dbf5dacea.png" density="port-mdpi"/>
        <splash src="res/android/screen/534679dc8631666858ec3462504117b3.png" density="port-xhdpi"/>
    </platform>

    <platform name="ios">
        <icon src="res/ios/icon/2476628bc0fa02daec91193f9bd9e528.png" width="180" height="180" />
        <icon src="res/ios/icon/62770854ae690c27d75bf1285fe0a3f3.png" width="60" height="60" />
        <icon src="res/ios/icon/3c6df8c20a33a6e8ed4ef7a31deebb02.png" width="120" height="120" />
        <icon src="res/ios/icon/4791d69d61b4d6aaae1b1e611cdedff9.png" width="76" height="76" />
        <icon src="res/ios/icon/38917b96d897011c8f792556b9f7a9a2.png" width="152" height="152" />
        <icon src="res/ios/icon/373c49dfd37b5b547cbd967281377f5d.png" width="57" height="57" />
        <icon src="res/ios/icon/e0780fa98891b72968761e77607bce6a.png" width="114" height="114" />
        <icon src="res/ios/icon/a701d0954a5af6c9994e2113eed89392.png" width="72" height="72" />
        <icon src="res/ios/icon/aa5083fef143067922d087165f50b8c0.png" width="144" height="144" />
        <icon src="res/ios/icon/26452582db4025fdb014ae9e10a28782.png" width="167" height="167" />
        <icon src="res/ios/icon/527c6863aa2380f4cd71056e850c1240.png" width="29" height="29" />
        <icon src="res/ios/icon/3c4ab6ee6a371237e52749285ebed6b8.png" width="58" height="58" />
        <icon src="res/ios/icon/9a7932a593a6b5d83150567acad1f3f3.png" width="87" height="87" />
        <icon src="res/ios/icon/6981610a6b40cf3a85c850723182da97.png" width="167" height="167" />

        <splash src="res/ios/screen/4117fc54dda5ea0abe2638cf54c9dea7.png" />
        <splash src="res/ios/screen/9a8881f44e506ee8ce8541753426db47.png" />
        <splash src="res/ios/screen/49cbc2c5a4f1e716eabdf640a6c38bdb.png" />
        <splash src="res/ios/screen/927dfb59b1eadfde3b888bd6865b6ccc.png" />
        <splash src="res/ios/screen/d32e9caf69e952d3e64bd5dbe2b44574.png" />
        <splash src="res/ios/screen/feb49f817a86c0adf9a0b1b3abf618c5.png" />
    </platform>

    <platform name="winphone">
        <icon src="res/windows/icon/9a40049f83d215ff3790ee1c786b4ad6.png" target="StoreLogo" />
        <icon src="res/windows/icon/8b0ec78818e8704cedc342e9f403befa.png" target="Square30x30Logo" />
        <icon src="res/windows/icon/c9deeacd39e2607e236e7c291e9e3c39.png" target="Square44x44Logo" />
        <icon src="res/windows/icon/99f6b34238a927782b09ffcc5517514f.png" target="Square70x70Logo" />
        <icon src="res/windows/icon/99e1fe00a70727571cf847f1401f4bbb.png" target="Square71x71Logo" />
        <icon src="res/windows/icon/89642a5c76d28f4aa0a7ef7210098cac.png" target="Square150x150Logo" />
        <icon src="res/windows/icon/0eb11f176dbdd98c01180f0f8778e551.png" target="Square310x310Logo" />

        <splash src="res/windows/screen/af73b932fb8c789214038440729cd7ef.png" target="SplashScreen"/>
        <splash src="res/windows/screen/2f35b82fb5b55aea90d8c54d9a05378f.png" target="SplashScreenPhone"/>
    </platform>

    <access origin='*'/>
    <plugin name='cordova-plugin-whitelist' />
    <allow-intent href='http://*/*'/>
    <allow-intent href='https://*/*'/>
    <allow-intent href='tel:*'/>
    <allow-intent href='sms:*'/>
    <allow-intent href='mailto:*'/>
    <allow-intent href='geo:*'/>

</widget>